<div class=”p-3">
    <accordion>
        <accordion-group heading=”Mortal Kombat 11">
            <li>Bolsonaro</li>
            <li>Haddad</li>
            <li>Ciro</li>
        </accordion-group>
        <accordion-group heading=”Mortal Kombat X”>
            <li>Scorpion</li>
            <li>SubZero</li>
            <li>Raiden</li>
        </accordion-group>
        <accordion-group heading=”Mortal Kombat 9">
            <li>Liu Kang</li>
            <li>Kano</li>
            <li>Sonia</li>
        </accordion-group>
    </accordion>
</div>